.config/zsh/.zcompcache
.config/zsh/.zsh_sessions
.config/zsh/.zcompdump
.config/karabiner/automatic_backups
.config/iterm2
.config/lazygit/state.yml
.config/lvim/lazy-lock.json
.config/nvim/lazy-lock.json
Brewfile.lock.json
.config/karabiner/karabiner.json
.config/neofetch
